:root {
  --primary: #4bffb3;
  --background: #262626;
  --background-light: #545454;
  --background-card: #3f3f3f;
  --background-button: #fcfcfc;
  --white: #fcfcfc;
  --background-icon: #808080;
  --background-primary: #fcfcfc;
  --text-primary: #fcfcfc;
  --text-secondary: rgba(252, 252, 252, 0.589);
  --text-tertiary: #3d3d3d;
  --shadow-primary: 1px 1px 20px 1px rgba(0, 0, 0, 0.15);
  --shadow-text: 0px 1px 2px rgba(0, 0, 0, 1);
  --radius-cards: 20px;
  --radius-button: 15px;
  --radius-light: 10px;
  --radius-full: 50%;
  --border-white: 2px solid var(--white);
  --border-transparent: 2px solid transparent;
  --background-blur-layout: rgba(46, 46, 46, 0.3);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins";
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
}
